<div class="row">
    <div class="col-sm-12" style="background-color:#fff;">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5></h5>
            </div>
            <div class="ibox-content">
                <!--新增用户信息开始-->
                <form class="form-horizontal" name="memberAdd" id="memberAdd" method="post"  action="#" onsubmit="return false">
                    <input type="text" name="id" id="riskId" style="display: none;">
                    <input type="text" name="group_id" id="rgroup_id" style="display: none;">

                    <div class="form-group">
                        <div class="col-xs-12" style="text-align: center;">
                            <button class="layui-btn" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                            <a class="layui-btn layui-btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 返回</a>
                        </div>
                    </div>
                </form>
                <!--新增用户信息结束-->

            </div>
        </div>
    </div>
</div>