{include file="../app/public/common_header.html"}

<div data-options="region:'west',title:'工程划分',split:true" style="width:260px;">
    <div class="ztree-title">
        <i title="新增节点" class="fa fa-lg fa-sitemap" id="addNode"></i>
        <i title="编辑节点" class="fa fa-lg fa-pencil" id="editNode"></i>
        <i title="删除节点" class="fa fa-lg fa-trash" id="delNode"></i>
        <i title="展开所有" class="fa fa-lg fa-plus-square" id="openNode"></i>
        <i title="收起所有" class="fa fa-lg fa-minus-square" id="closeNode"></i>
    </div>
    <ul class="ztree" id="ztree"></ul>
</div>
<div data-options="region:'center',title:'单元工程：'" style="padding:5px;background:#eee;">

</div>
<div data-options="region:'east',title:'二维码',split:true" style="width:260px;">

</div>
<!-- 新增节点 -->
<form action="" class="layui-form" id="nodeForm" style="display: none">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">编码</label>
            <div class="layui-input-inline">
                <input type="text" name="d_code" placeholder="请输入编码" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="d_name" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <select name="type" lay-verify="required">
                    <option value="1">单位工程</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">主要单位工程</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="primary" lay-skin="switch" lay-text="是|否" value="1">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入描述" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="save" id="save">保存</button>
            <button type="button" class="layui-btn layui-btn-primary close">关闭</button>
        </div>
    </div>
</form>
{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/quality/division/index.js"></script>
</body>
</html>