<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="./excelDownload">下载</a>
<a href="./getParents">获取路径</a>
<!--<form action="./importExcel" method="post" enctype="multipart/form-data">-->
<form action="./editNode" method="post" enctype="multipart/form-data">
    <input name="section_id" type="hidden" value="1">
    <input type="type" name="pid" value="2">
    <!--<input type="file" name="file">-->
    <button> 上传 </button>
</form>
</body>
</html>