{include file="../../public/common_header"}
<link rel="stylesheet" href="__WEBSITE__/progress/monthplan/index.css">
<div id="content">
    <div class="layui-row page-head">
        <div class="layui-col-xs2">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">选择计划：</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="0">全部</option>
                            <option value="1">一级进度计划</option>
                            <option value="2">年度计划</option>
                            <option value="3">月度计划</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-xs1 layui-col-sm-offset9">
            <button class="layui-btn layui-btn-normal" id="addPlan">
                <i class="layui-icon">&#xe608;</i> 添加
            </button>
        </div>
    </div>
    <div id="layuiRow" style="width: 100%;height: 100%;">
        <table id="versonPro" class="table table-striped table-bordered" cellspacing="0"  width="100%">
            <thead>
                <th>月份</th>
                <th>计划名称</th>
                <th>所属标段</th>
                <th>编制人</th>
                <th>编制日期</th>
                <th>操作</th>
            </thead>
        </table>
        <div class="tbcontainer">
            <div class="mark"></div>
        </div>
    </div>
</div>
<!--添加新计划DOM代码-->
<form class="layui-form" action="" id="addForm" style="display: none;padding: 10px">
    <div class="layui-row">
        <div class="layui-col-sm5">
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">

                    <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="0">年度计划</option>
                        <option value="1">一级进度计划</option>
                        <option value="2">施工总进度计划</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-sm7">
            <div class="layui-form-item">
                <label class="layui-form-label">计划名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-sm5">
            <div class="layui-form-item">
                <label class="layui-form-label">编制时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="modifiedDate">
                </div>
            </div>
        </div>
        <div class="layui-col-sm7">
            <div class="layui-form-item">
                <label class="layui-form-label">编制人</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入编制人" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">版本描述</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>
    </div>
</form>
<!--删除计划DOM-->
<div class="" id="deletePlan">
    <p>确认要删除该计划吗？</p>
</div>

{include file="../../public/common_footer"}
<script type="text/javascript">

    //初始化
    var versonPro = $('#versonPro').dataTable( {
        pagingType: "full_numbers",
        processing: true,
        "scrollY": "200px",
        "scrollCollapse": "true",
        data:[
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },{
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },{
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },{
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            },
            {
                "month":    "2018-02-03",
                "planName":   "一期地下施工",
                "position":    "一期地下施工",
                "maker": "管理员",
                "createDate": "2018-02-03",
                "extn":    "54212"
            }



        ],
        "dom": 'lrtip',
        columns: [
            {
                "data": "month",
                // "title":"月份",
                "orderable": false
            },
            {
                "data": "planName",
                // "title":"计划名称",
                "orderable": false
            },
            {
                "data": "position",
                // "title":"所属标段",
                "orderable": false
            },
            {
                "data": 'maker',
                // "title":"编制人",
                "orderable": false

            },
            {
                "data": "createDate",
                // "title":"编制日期",
                "orderable": false
            },
            {
                "data": null,
                // "title":"操作",
                "orderable": false,

            }
        ],
        columnDefs: [
            {
                "targets": [5],
                "searchable": false,
                "orderable": false,
                "render": function (data, type, row) {
                    var html = "<a class='styleColor' type='button' href='javasrcipt:;' style='margin-left: 5px;' href='../Yearplan/index'><i title='查看' class='fa fa fa-search'></i></a>";
                    html += "<a class='styleColor' type='button' style='margin-left: 5px;' href='../Yearplan/index'><i title='编辑' class='fa fa fa-pencil'></i></a>";
                    html += "<a class='styleColor' type='button' style='margin-left: 5px;' href='javascript:;'><i title='删除' class='fa fa fa-remove'></i></a>";
                    html += "<a class='styleColor' href='../Yearplan/index' style='margin-left: 7px;'><i title='关联视图' class='fa fa-chain'></i></a>";
                    return html;
                }
            }
        ],
        language: {
            "lengthMenu": "_MENU_",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "sFirst": "<<",
                "sPrevious": "<",
                "sNext": ">",
                "sLast": ">>"
            }
        },
        "fnInitComplete": function (oSettings, json) {
            $('#versonPro_length').insertBefore(".mark");
            $('#versonPro_info').insertBefore(".mark");
            $('#versonPro_paginate').insertBefore(".mark");
        }

    } );

    layui.use('form', function(){


    });

    //添加计划
    layui.use('layer', function(){
        var layer = layui.layer;
        $("#addPlan").click(function () {
            addNewPlan();
        });
        $(".versonBody .layui-btn-danger").click(function () {
            deletePlan();
        });
    });

    //编制时间
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#modifiedDate' //指定元素
        });
    });

    //添加新计划
    function addNewPlan() {
        layer.open({
            title:['添加新计划','font-size:18px'],
            type: 1,
            content: $("#addForm") ,
            area:['680px','420px'],
            btn: ['确认', '取消'],
            yes: function(index, layero){
                alert('添加成功')
            },
            btn2: function(index, layero){

            },
            cancel: function(){

            }
        });
    }

    //删除计划
    function deletePlan() {
        layer.open({
            title:['删除计划','font-size:18px'],
            type: 1,
            content: $("#deletePlan") ,
            area:['680px','320px'],
            btn: ['确认', '取消'],
            yes: function(index, layero){
                alert('删除成功');
            },
            btn2: function(index, layero){
            },
            cancel: function(){
            }
        });
    }
</script>
</html>