{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/main/manage.css">
<div data-options="region:'west',title:'管理试图',split:true" style="width:260px;">
    <ul id="ztree" class="ztree"></ul>
</div>
<div data-options="region:'center',title:''" style="border: 0">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north'" class="north" style="height:39px">
            <ul class="layer-review">
                <li>
                    <span>优良</span>
                    <i class="green"></i>
                </li>
                <li>
                    <span>合格</span>
                    <i class="yellow"></i>
                </li>
                <li>
                    <span>未验评</span>
                    <i class="blue"></i>
                </li>
            </ul>
            <ul class="layer-model-nav">
                <li>
                    <div class="layui-btn layui-btn-radius layui-btn-normal">
                        <i class="fa fa-check-circle"></i>
                        质量分布
                    </div>
                </li>
            </ul>
        </div>
        <div data-options="region:'center'" class="layer-center">
            <object id="RealBimOcx" classid="CLSID:2CD7E1BE-10B8-4A1C-B908-4FB7D4FD4ABD"  width="100%" height="100%"></object>
            <!-- 初始化 -->
            <script language="javascript"   for="RealBimOcx" EVENT="OnRealBimOcxInited()" type="text/javascript">
                RealBimOcx.SwitchBIMSceneSimple("http://192.168.1.2:8008/default.aspx?dir=url_res02&path=","res_fengning_kw");
                RealBimOcx.SetSceVersionInfoExt(100, -1, 0, 2000000000);
                RealBimOcx.CreateAGolFont("CustomFont01","微软雅黑",true,true,14,14,32,1.0,0*64,"");
                RealBimOcx.CreateAGolFont("CustomFont02","微软雅黑",true,true,12,12,8,1.0,0*64,"");
            </script>
            <!-- 初始化完成 -->
            <script language="javascript"   for="RealBimOcx" EVENT="WorkCompleteNotification(CompleteEvent,retError)" type="text/javascript">
                if(CompleteEvent == "LoadMainScene" && retError==0 ){
                    RealBimOcx.SetAllHugeObjSubValidState(1);
                    RealBimOcx.SetSceHugeObjVisible(true);
                }
                RealBimOcx.SetSuitableCam();

                //模块验评情况
                $.ajax({
                    url: "./countUnit",
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        //未验评 model_picture（全部）
                        for(var k = 0;k<res.model_picture.length;k++){
                            var allUObjSubID = res.model_picture[k].picture_number;
                            RealBimOcx.BatchAddSubClrInfoBegin();
                            RealBimOcx.AddSubClrPercent(allUObjSubID,0.5,0xff529df8);    //第二个参数为透明度
                            RealBimOcx.BatchAddSubClrInfoEnd();
                        }
                        //优良 excellent
                        for(var i = 0;i<res.excellent.length;i++){
                            var exUObjSubID = res.excellent[i].picture_number;
                            RealBimOcx.BatchAddSubClrInfoBegin();
                            RealBimOcx.AddSubClrPercent(exUObjSubID,1,0xff2aa515);    //第二个参数为透明度
                            RealBimOcx.BatchAddSubClrInfoEnd();
                        }
                        //合格 qualified
                        for(var j = 0;j<res.qualified.length;j++){
                            var quUObjSubID = res.excellent[j].picture_number;
                            RealBimOcx.BatchAddSubClrInfoBegin();
                            RealBimOcx.AddSubClrPercent(quUObjSubID,1,0xff2aa515);    //第二个参数为透明度
                            RealBimOcx.BatchAddSubClrInfoEnd();
                        }
                    }
                });
            </script>
            <script language="javascript"  for="RealBimOcx" EVENT="OnCurSelModelChanged(strObjName, uObjSubID,   fObjSelX, fObjSelY, fObjSelZ,  fObjBVMinX,fObjBVMinY,fObjBVMinZ,  fObjBVMaxX,fObjBVMaxY,fObjBVMaxZ)" type="text/javascript">
                $.ajax({
                    url: "./xxx",
                    type: "post",
                    data: {
                        uObjSubID:uObjSubID
                    },
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                    }
                })
            </script>
        </div>
    </div>
</div>
<div data-options="region:'east',title:'管理信息',split:true" style="width:350px;">
    <div id="tt" class="easyui-tabs">
        <div title="基本信息" style="padding:10px;display:none;">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">地下厂房</h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-form-item">
                            <label class="layui-form-label">检验批名称</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">检验批编码</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">关键部位</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">工程量</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">工程类型</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">施工依据</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">补充依据</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">高程（起）</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">高程（止）</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">桩号（起止）</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div title="工序信息" style="overflow:auto;padding:10px;display:none;">

            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">地下厂房</h2>
                    <div class="layui-colla-content layui-show">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe617;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div class="layui-timeline-title">预应力锚杆钻孔</div>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe617;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div class="layui-timeline-title">工程照片、强制性条文</div>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe617;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div class="layui-timeline-title">单元工程验收</div>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis current">&#xe617;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div class="layui-timeline-title">验收（2017.08.30）</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div title="质量表格" style="padding:10px;display:none;">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">地下厂房</h2>
                    <div class="layui-colla-content layui-show">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col>
                                <col>
                                <col width="56">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>预应力锚杆钻孔 </td>
                                <td>预应力锚杆钻孔质量检查表</td>
                                <td>
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">工程照片、强制性条文</td>
                                <td>工程记录照片表</td>
                                <td>
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>工程建设标准强制性条文执行记录表</td>
                                <td>
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">单元工程验收 </td>
                                <td>预应力锚杆单元工程质量等级评定表</td>
                                <td>
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>单元工程检查验收申请表</td>
                                <td>
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="../app/public/common_footer.html"}
</body>
</html>