{include file="../app/public/common_header.html"}
<style>
    body .panel-title{
        font-size: 14px;
    }
    .ztree{
        margin-top: 0;
    }
    .mybtn {
        position: absolute;
        right: 1%;
        top: 0;
        background-color: #00c0ef;
    }
    .mybtn i.fa:hover:before , .mybtn i.fa:before{
        color: #fff;
    }
    .mybtn i.fa:before {
        background: none;
    }
    #tableItem_filter{
        padding-top: 3px;
        float: left;
    }
    .ztree-title i.fa{
        width: 18%;
    }
    i.fa:before{
        background:none;
    }
    .select-color{
        background-color: #FDD5B5!important;
    }
    h3{
        margin-top: 5px;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
    }
    .ibox-tools{
        float: right;
        margin-right:30px;
        margin-top: 10px;
    }
    .ibox-tools2{
        float: right;
        margin-right:15px;
    }
    p {
        float: left;
        margin: 4px;
        background-color: #56ABE4;
        text-align: center;
        color: white;
        font-size: 12px;
        border: 1px solid #56ABE4;
        border-radius: 20px;
        float: left;
        line-height: 0.1;
        padding: 5px;
    }
    p i.fa:before {
        color: #fff;
    }
    .dataTables_wrapper{
        margin-bottom: 20px;
    }

    #tableItem{
        padding-top: 10px           ;
    }
    #tableItem_paginate ul li{
        line-height: 18px;
    }
    #tableItem_filter{
        font-weight: bold;
    }
    #tableItem .odd{
        background-color: #f9f9f9;
    }
    #tableItem .highlight {
        background: #FDD5B5 !important;
    }
    #tableItem .even{
        background-color: white;
    }
    .dataTables_wrapper,.tbcontainer{
        display: block;
    }
    .fa.fa-save:before ,.fa.fa-close:before,.fa.fa-save:hover:before,.fa.fa-close:hover:before{
        color: white;
    }
    .selectdepartment{
        float: left;
        margin-left: 20px;
        margin-top: 3px;
        font-weight: bold;
        color: black;
        line-height: 29px;
    }
    #department{
        height: 29px;
        min-width: 150px;
    }
</style>
<div data-options="region:'west',title:'现场图片',split:true" style="width:240px;">
    <ul class="ztree" id="ztree"></ul>
</div>
<div data-options="region:'center',title:'当前路径：'" style="padding:5px;background:#fff;">

    <table id="tableItem" class="table table-striped table-bordered" cellspacing="0"  width="100%">
        <thead>
        <tr>
            <th>名称</th>
            <th>上传日期</th>
            <th>上传人</th>
            <th>单位</th>
            <th>位置信息</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
    <div class="tbcontainer">
        <div class="mark"></div>
    </div>
</div>

{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/quality/scenepicture/index.js"></script>
<script>

    var tableItem = $('#tableItem').DataTable( {
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        // scrollY: 600,
        ajax: {
            "url":"{:url('admin/common/datatablesPre?tableName=admin_cate&id=')}"
        },
        dom: '<"myl"><"selectdepartment">lf<"mybtn layui-btn layui-btn-sm">rtip',
        columns:[
            {
                name: "number_id"
            },
            {
                name: "role_name"
            },
            {
                name: "create_owner"
            },
            {
                name: "date"
            },
            {
                name: "desc"
            },
            {
                name: "id"
            }
        ],
        columnDefs: [
            {
                "searchable": false,
                "orderable": false,
                "targets": [5],
                "render" :  function(data,type,row) {
                    var a = data;
                    var html =  "<a type='button' href='javasrcipt:;' class='' style='margin-left: 5px;' onclick='conEdit("+data+")'><i class='fa fa-pencil'></i></a>" ;
                    html += "<a type='button' class='' style='margin-left: 5px;' onclick='conDel("+data+")'><i class='fa fa-trash'></i></a>" ;
                    return html;
                }
            },
            {
                "orderable": false,
                "targets": [4]
            }
        ],
        language: {
            "lengthMenu": "_MENU_",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 共 _PAGES_ 页, _TOTAL_ 项 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "sFirst": "<<",
                "sPrevious": "<",
                "sNext": ">",
                "sLast": ">>"
            }
        },
        "fnInitComplete": function (oSettings, json) {
            $('#tableItem_length').insertBefore(".mark");
            $('#tableItem_info').insertBefore(".mark");
            $('#tableItem_paginate').insertBefore(".mark");
        }
    });
    //选择部门
    var selectdepartment ='<select id="department" class="form-control"></select>';
    $("div.selectdepartment").html('部门：'+selectdepartment);
    //新增
    $(".mybtn").html('<i class="fa fa-plus"></i>&nbsp;上传');

    $("#tableItem_wrapper .mybtn").click(function () {

        var nowtime = new Date().Format("yyyy-MM-dd");
        layer.open({
            type: 1,
            title: '角色管理—上传',
            area: ['690px', '440px'],
            content:dom
        });
        $("#roleform input").val("");
        $("#roleform textarea").val("");
        $("#pid").val(selfid);
        $('#create_owner').val($("#current_name").html());
        $('#date').val(nowtime);
    });
    //变色
    $('#tableItem tbody').on( 'mouseover', 'td', function () {
        $(this).parent("tr").addClass('highlight');
    }).on( 'mouseleave', 'td', function () {
        $(this).parent("tr").removeClass( 'highlight' );
    });

</script>
</body>
</html>