.ztree{
    margin-top: 0;
}
.current-path i.fa:before{
    color: #0E2D5F;
}
.current-path{
    margin: 0;
    padding: 0;
    border: 0;
}
.control-point{
    margin-bottom: 20px;
}
.control-point i{
    margin-right: 5px;
}
.control-point i.fa:before{
    color: #333;
}
.control-point a{
    margin-right: 10px;
    font-size: 14px;
}
.control-point a:hover,.control-point a:hover i.fa:before,.control-point a.active,.control-point a.active i.fa:before{
    color: #00c0ef;
}
.control-point-item{
    display: inline-block;
}
.sub-list{
    display: none;
}
.sub-list i{
    margin-right: 5px;
}
.sub-list i.fa:before{
    color: #555;
}
.sub-list .btn-wrap i.fa:before{
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
}
.sub-list h3{
    float: left;
    line-height: 30px;
    font-weight: bold;
}
.btn-wrap{
    float: right;
}

.point-layer{
    width: 1004px;
    padding: 10px;
    visibility: hidden;
}