{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/quality/unitqualitymanage/common/common.css">
<div data-options="region:'west',title:'工程划分',split:true" style="width:260px;">
    <ul id="ztree" class="ztree"></ul>
</div>
<div data-options="region:'center',title:''">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',title:'',split:true" style="height: 70%">
            <input type="hidden" name="wordId" id="workId">
            <div class="current-path">
                <h3><i class="fa fa-dot-circle-o"></i>控制点</h3>
            </div>
            <div class="control-point" id="controlPoint">
                <div class="control-point-item" id="controlPointItem"></div>
            </div>
            <table id="tableItem" class="table table-striped table-bordered" cellspacing="0"  width="100%">
                <thead>
                <tr>
                    <th>控制点编号</th>
                    <th>控制点名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <div data-options="region:'south',title:'South Title',split:true"  style="height: 30%"></div>
    </div>
</div>
{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/quality/unitqualitymanage/control.js"></script>
<script src="__WEBSITE__/quality/unitqualitymanage/common/common.js"></script>
</body>
</html>