.fa:before{
    color: #00c0ef;
    background: #FFF;
    border-color: #FFF;
}
.fa:hover:before{
    color: #009dc3;
}
.ztree-title{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cecece;
}
.ztree-title i.fa{
    text-align: center;
    cursor: pointer;
}
.ztree li a.curSelectedNode{
    background-color: #cecece;
}