{include file="../app/public/common_header.html"}

<style>
    #divide #ztree{
        margin-top: 0px;
    }
    .dataTables_wrapper, .tbcontainer {
        display: block;
    }
</style>

<div id="divide" data-options="region:'west',title:'工程划分',split:true" style="width:240px;">
    <ul class="ztree" id="ztree"></ul>
</div>

<div data-options="region:'center',title:'控制点:'" style="padding:5px;background:#fff;">
    <table id="tableItem" class="table table-striped table-bordered" cellspacing="0"  width="100%">
        <thead>
            <tr>
                <th>控制点编号</th>
                <th>控制点名称</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
    <div class="tbcontainer">
        <div class="mark"></div>
    </div>
</div>

<div data-options="region:'east',title:'管理信息',split:true" style="width:330px; position: relative; height: 20%;">
    <div>444</div>
</div>

{include file="../app/public/common_footer.html"}
<script type="text/javascript">

    //组织结构表格
    var tableItem = $('#tableItem').DataTable({
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{:url('/standard/common/datatablesPre')}?tableName=controlpoint&id="
        },
        dom: 'lf<"mybtn layui-btn layui-btn-sm">rtip',
        columns: [
            {
                name: "code"
            },
            {
                name: "name"
            },
            {
                name: "id"
            }
        ],
        columnDefs: [
            {
                "targets":[0]
            },
            {
                "targets": [1]
            },
            {
                "searchable": false,
                "orderable": false,
                "targets": [2],
                "render": function (data, type, row) {
                    var a = data;
                    var html = "<a type='button' href='javasrcipt:;' class='' style='margin-left: 5px;' onclick='editFile("+row[3]+")'><i title='编辑' class='fa fa-pencil'></i></a>";
                    html += "<a type='button' class='' style='margin-left: 5px;' onclick='delFile("+row[3]+")'><i title='删除' class='fa fa-trash'></i></a>";
                    return html;
                }
            }

        ],
        language: {
            "lengthMenu": "_MENU_",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "sFirst": "<<",
                "sPrevious": "<",
                "sNext": ">",
                "sLast": ">>"
            }
        },
        "fnInitComplete": function (oSettings, json) {
            $('#tableItem_length').insertBefore(".mark");
            $('#tableItem_info').insertBefore(".mark");
            $('#tableItem_paginate').insertBefore(".mark");
        }
    });

    //点击上传文件
    $(".mybtn").html("<div id='test3'><i class='fa fa-plus'></i>新增控制点</div>");

    //初始化树节点
    var selfid, nodeName, nodePid, zTreeObj, groupid, sNodes, procedureId;

    var setting = {
        view: {
            showLine: true, //设置 zTree 是否显示节点之间的连线。
            selectedMulti: false //设置是否允许同时选中多个节点。
        },
        async: {
            enable: true,
            autoParam: ["pid"],
            type: "post",
            url: "{:url('standard/library/GetDivsionTree')}?cat=2",
            dataType: "json"
        },
        data: {
            simpleData: {
                enable: true,
                idkey: "id",
                pIdKey: "pid",
                rootPId: null
            }
        },
        callback: {
            onClick: this.nodeClick
        }
    };
    zTreeObj = $.fn.zTree.init($("#ztree"), setting, null);

    //点击获取路径
    function nodeClick(e, treeId, node) {
        console.log(node);
        selectData = "";
        sNodes = zTreeObj.getSelectedNodes()[0];//选中节点
        console.log(sNodes);
        selfid = zTreeObj.getSelectedNodes()[0].id;//当前id
        nodeName = zTreeObj.getSelectedNodes()[0].name;//当前name
        nodePid = zTreeObj.getSelectedNodes()[0].pid;//当前pid
        console.log(selfid + '---id');
        console.log(nodeName + '---name');
        console.log(nodePid + '---pid');
        var path = sNodes.name; //选中节点的名字
        node = sNodes.getParentNode();//获取父节点
        if (node) {
            //判断是否还有父节点
            while (node) {
                path = node.name + "-" + path;
                node = node.getParentNode();
            }
        } else {
            $(".layout-panel-center .panel-title").text(sNodes.name);
        }
        groupid = sNodes.pId ;//父节点的id
        tableItem.ajax.url("{:url('/standard/common/datatablesPre')}?tableName=controlpoint&id="+selfid).load();
        $("#tableContent .dataTables_wrapper").css('display','block');
        $("#tableContent .tbcontainer").css('display','block');
        $(".layout-panel-center .panel-title").text("控制点:" + path);
        clickTreeId = selfid;
        procedureId = selfid;
    }

</script>
</html>
