.centent{
    border: 0;
}

/* css 重置 */
*{margin:0; padding:0; list-style:none; }
body{ background:#fff; font:normal 12px/22px 宋体;  }
img{ border:0;  }
a{ text-decoration:none; color:#333;  }

.swiper-container {
    width: 100%;
    height: 150px;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}