.centent{
    border: 0;
}

/* css 重置 */
*{margin:0; padding:0; list-style:none; }
body{ background:#fff; font:normal 12px/22px 宋体;  }
img{ border:0;  }
a{ text-decoration:none; color:#333;  }

.swiper-container {
    width: 100%;
    height: 150px;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    position: relative;
    cursor: pointer;
}
.mask{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #333;
    line-height: 12px;
    filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;
}
.mask .right{
    padding: 5px 0;
    text-align: right;
}
.mask .right a{
    margin-right: 5px;
    display: inline-block;
}
.mask .scenter,.mask .center{
    text-align: center;
}
.mask .scenter{
    padding: 20px 0;
}
.mask .center{
    padding: 10px 0;
    color: #FFF;
    font-size: 14px;
}
.mask i.fa:before,.mask i.fa:hover:before{
    color: #FFF;
}
.mask .fa-search{
    font-size: 30px;
}

.toggle-attr li{
    line-height: 1;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.toggle-attr li:first-child{
    padding-right: 5px;
    border-right: 1px solid #666666;
}
.toggle-attr li.active,.toggle-attr li:hover{
    color: #0c91e5;
}
.add-tag{
    display: none;
    padding-bottom: 10px;
    text-align: right;
}
.add-tag h2{
    text-align: center;
}
.add-tag i.fa{
    margin: 0 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #00c0ef;
    border-radius: 50%;
}
.add-tag i.fa:last-child{
    background: #FF5722;
}
.add-tag i.fa:before ,.add-tag i.fa:hover:before{
    color: #FFF;
}