.ztree-title i.fa{
    width: 11%;
}
.current-path{
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cecece;
}
.current-path h3{
    float: left;
}
.current-path .add{
    float: right;
}
.current-path i.fa:before{
    margin-right: 5px;
    color: #FFF;
    background: none;
    border-color: #FFF;
}
.current-path i.fa:hover:before{
    color: #FFF;
}
.layui-form-select .layui-input{
    padding-right: 0;
}
.upload label{
    width: 58px;
    height: 39px;
}
.layui-form-item .autograph .layui-form-mid{
    padding: 0 !important;
    margin: 0 !important;
}
.layui-form-item .autograph .webuploader-pick{
    padding: 9px 15px;
}
.layui-form-item .autograph .layui-input-inline{
    margin-right: 0;
    width: 70%;
}
.layui-input[name="pname"]{
    cursor: no-drop;
    background: #ccc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{}