.ztree-title i.fa{
    width: 11%;
}
.current-path .add{
    float: right;
}
.current-path i.fa:before{
    margin-right: 5px;
    color: #FFF;
    background: none;
    border-color: #FFF;
}
.current-path i.fa:hover:before{
    color: #FFF;
}
.layui-form-select .layui-input{
    padding-right: 0;
}
.upload label{
    width: 58px;
    height: 39px;
}
.layui-input[name="pname"]{
    cursor: no-drop;
    background: #ccc;
}
.dataTables_wrapper,.tbcontainer{
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{}